<!-- <div style="padding: 50px 0 100px 0"> HAOGUEHSGOIHEIOHWIOEHGIÅLSH
  <app-account *ngIf="session; else auth" [session]="session"></app-account>
  <ng-template #auth>
    <app-auth></app-auth>
  </ng-template>
</div> -->
<nav class="nav-tag">
  <a *ngFor="let survey of surveys" [routerLink]="'/survey/' + survey.id" class="a-tag">{{survey.survey_name}}</a>
  <a routerLink="/create-questions" class="a-tag">Create questions</a>
</nav>
<div>{{session?.user?.email}}</div>
<router-outlet></router-outlet>