.container {
  position: absolute;
  left: 25%;
}

.width-50 {
  width: 35vw;
}

.grid {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

.button-tag {
  margin-top: 10px;
}
